.survivorLogos img {
  width: 60px;
  opacity: .35;
}

.survLogosActive img {
  width: 60px;
}

.ssimage {
  z-index: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-image: url(img/surv_mud_opt.jpg);
  background-repeat: no-repeat;
  height: 27.5rem;
}

.ssimage:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 25%, rgb(0, 0, 0) 100%), url(img/surv_mud_opt.jpg);
}

@media (max-width: 440px) {

  .survivorLogos img {
    width: 45px;
  }

  .survLogosActive img {
    width: 45px;
  }

}

@media (max-width: 300px) {

  .survivorLogos img {
    width: 30px;
  }

  .survLogosActive img {
    width: 30px;
  }

}